{% extends "base.html" %}
{% block content %}
<h2>la liste des conferences</h2>
<table border="1">
    <tr>
        <td>title </td>
        <td>location </td>
        <td>Actions</td>
    </tr>
{% for c in liste  %}
    <tr>
        <td>{{c.name}}</td>
        <td>{{c.location}}</td>
        <td>
            <a href="{%  url 'conference_detail' c.pk %}">détails</a> <br></br>
            {% if user.is_authenticated and user.role == "commitee" %}
             <a href="{%  url 'conference_edit' c.pk %}">Modifier</a>
              <a href="{%  url 'conference_delete' c.pk %}">Supprimer</a>
              {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}